html, body
	background-color #fffefc
	font-family: 'PT Sans', sans-serif;
	font-size 16px
	margin auto
	width 850px
	max-width 85%
	a
		text-decoration none
		border-bottom 0.1em dotted
		color inherit
		&:hover
			border-bottom 0.15em solid
			color inherit
		&:active
			color inherit
	h1, h2, h3, h4
		font-family: 'Source Code Pro', monospace;
	header h1
		font-size 5em
	article 
		margin 50px 0 
		.byline
			margin-bottom 10px
		.comment
			padding 5px 15px
			&:nth-child(even)
				background: whitesmoke
	.indent
		margin-left 40px